@CHARSET "ISO-8859-1";
.Form {
	width: 278px;
	margin: 0 auto;
	border: 1px solid #666;
	padding: 10px;
}

.notification {
	height: 24px;
    margin-top: 0;
    padding: 0 5px 3px;
    padding-bottom: 5px;
    padding-left: 10px;
    vertical-align: middle;
}