# Desactive les magic_quotes
<IfModule php5_module>
  php_value magic_quotes_gpc 0
  php_value magic_quotes_runtime 0
  php_value magic_quotes_sybase 0
</IfModule>

Options FollowSymLinks
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]

setEnv APPLICATION_ENV "development"